{% extends "base.html" %}

{% block content %}
            <div class="error_text">
                {% if obj.errors|length > 0 %}
                    {% for error in obj.errors  %}
                        <div>{{ error }}</div>
                    {% endfor %}
				{% endif %}
            </div>
            <div>
                <form action="/sequencing/manage?action=insert" method="POST">
             
                    <label for="Technique">Sequencing Technique:</label>
                    <input type="text" id="Technique" name="Technique" value="{{ obj.data[0].Technique }}"><br><br>

                    <label for="DateSeq">Date of Sequencing:</label>
                    <input type="text" id="DateSeq" name="DateSeq" value="{{ obj.data[0].DateSeq }}"><br><br>

                    LabTech who sequenced:<br>
                    <select name="LabTech">
                        {% for user in obj.users.data  %}
                            {% if  obj.data[0].uid == user.uid %}
                                <option selected="true" value="{{ user.uid }}">{{ user.user_name }}</option>
                            {% else %}
                                <option value="{{ user.uid }}">{{ user.user_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>


                    <!--
                    Role:<br>
                    <select name="role">
                        {% for role in obj.roles  %}
                            {% if  obj.data[0].role == role.value %}
                                <option selected="true" value="{{ role.value }}">{{ role.text }}</option>
                            {% else %}
                                <option value="{{ role.value }}">{{ role.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>-->
                    <br>
                    <br>
                    <input type="submit" value="Submit" />
                </form>
                
            </div>
{% endblock %}